.mapboxgl-marker {
    position: relative;
}

.marker-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.marker-tip-container {
    position: absolute;
}