.mapboxgl-marker {
    position: relative;
    height: 100px;
}

.marker-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200%;
}

.marker-tip-container {
    position: absolute;
    top: 0;
    left: 0;
}