.card {
    width: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.star {
    color: gray;
}

.star-gold {
    color: gold;
}

.description {
    max-width: 250px;
    font-size: 13px;
}

.username {
    font-size: 13px;
}

.date {
    font-size: 13px;
}

.pin-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 1rem;
}

.edit-pin {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(29, 141, 39);
    cursor: pointer;
}

.edit-description {
    height: 100px;
}

.update-pin {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(32, 111, 202);
    cursor: pointer;
}

.delete-pin {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: brown;
    cursor: pointer;
}