.friend-list-panel {
    position: absolute;
    width: 492px;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
}

.friend-info {
    display: flex;
    flex-direction: row;
    position: relative;
    border: none;
    border-radius: 5px;
    align-items: center;
    width: 240px;
    padding: 10px;
    background-color: rgb(224, 224, 224);
    gap: 1rem;
}

.friend-cancel {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.friend-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 250px;
    gap: 0.5rem;
}

.friend-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    border: 1px solid rgb(124, 124, 124, 0.5);
    border-radius: 5px;
}

.friend-search-container input {
    border: none;
    margin-left: -2px;
    outline: none;
}

.friend-list {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: max-content;
    gap: 1rem;
}

.friend {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.friend-profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: brown;
}

.friend-name {
    font-size: 15px;
    font-weight: bold;
}

.friend-color {
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    width: auto;
}

.follow-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.following {
    background-color: white;
    border: 1px solid darkcyan;
    color: darkcyan;
}

.unfollow-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

.toggle-container {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
  }
  
  .toggle-switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: white;
    border: 1px solid darkcyan;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }

  .toggle-switch .toggle-handle {
    width: 18px;
    height: 18px;
    background-color: darkcyan;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .toggle-switch .toggle-handle {
    left: 21px;
  }