.friend-list-panel {
    position: absolute;
    width: 390px;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
}

.friend-info {
    display: flex;
    flex-direction: row;
    position: relative;
    border: none;
    border-radius: 5px;
    align-items: center;
    width: 240px;
    height: 40px;
    padding: 10px;
    background-color: rgb(224, 224, 224);
    gap: 0.5rem;
}

.found-friend-img {
    transform: scale(.4);
    background-color: white;
    width: 100px; 
    height: 100px;
    margin-left: -30px;
    object-fit: cover; /* 이미지 비율을 유지하면서 채우도록 설정 */
    border: 2px solid rgba(128, 128, 128, 0.438);
    border-radius: 50%;
}

.friend-cancel {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.friend-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 250px;
    gap: 0.5rem;
}

.friend-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    border: 1px solid rgb(124, 124, 124, 0.5);
    border-radius: 5px;
}

.friend-search-container input {
    border: none;
    margin-left: -2px;
    outline: none;
}

.friend-list {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: max-content;
    gap: 1rem;
}

.friend {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.friend-profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: brown;
}

.friend-img {
    transform: scale(0.8);
    position: absolute;
    width: 45px;
    height: 45px;
    object-fit: cover; /* 이미지 비율을 유지하면서 채우도록 설정 */
    border: 1px solid gray;
    border-radius: 50%;
}

.friend-name {
    font-size: 15px;
    font-weight: bold;
}

.friend-color {
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    width: auto;
}

.follow-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.following {
    background-color: white;
    border: 1px solid darkcyan;
    color: darkcyan;
}

.unfollow-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

.ag-body-vertical-scroll-viewport::-webkit-scrollbar {
    width: 8px;
}

.ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
    height: 20%;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}

.ag-body-vertical-scroll-viewport::-webkit-scrollbar-track {
    background: transparent;
}
