
.friend-list-panel {
    position: absolute;
    width: 450px;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
}

.friend-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.friend-cancel {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.friend-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 0.5rem;
}

.friend-list {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: max-content;
    gap: 1rem;
}

.friend {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.friend-profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: brown;
}

.friend-name {
    font-size: 15px;
    font-weight: bold;
}