.guide-modal {
    position: absolute;
    width: 500px;
    height: 600px;
    border: none;
    border-radius: 10px;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 10px;
}

.guide-container {
    overflow: auto;
    width: 100%;
    height: 600px;
}

.guide-container::-webkit-scrollbar {
    width: 8px;
}

.guide-container::-webkit-scrollbar-thumb {
    height: 20%;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}

.guide-container::-webkit-scrollbar-track {
    background: transparent;
}

.guide-top {
    position: sticky;
    width: 100%;
    height: 40px;
}

.guide-title {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.guide-cancel {
    z-index: 1;
    position: sticky;
    float: right;
    margin-left: 300px;
    padding: 5px;
    cursor: pointer;
} 

.guide {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    & label {
        margin-left: 30px;
        max-width: 90%;
        color: darkcyan;
        font-size: 12px;
        border-bottom: 1px solid rgba(0, 139, 139, 0.3);
        padding-bottom: 20px;
    }
}

.guide-icon {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 30px;
}

img {
    transform: scale(0.4);
    margin-right: -5px;
}