.guide-modal {
    position: absolute;
    width: 350px;
    height: max-content;
    border: none;
    border-radius: 5px;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.guide {
    display: flex;
    flex-direction: column;
    & label {
        margin-left: 30px;
        max-width: 250px;
    }
}

.guide-icon {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 30px;
}

img {
    transform: scale(0.4);
    margin-right: -5px;
}