.register-container {
    height: 300px;
    width: 250px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }
  
  .register-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    height: 15%;
    width: 100%;
  }
  
  .register-title img {
    transform: scale(0.8);
    margin-left: -20px;
  }

  .register-title span {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: -10px;
  }
  
  .register-button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-repeat: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  
  .register-result {
    width: 100%;
    height: 20%;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
  }

  .success {
    color: forestgreen;
    font-size: 12px;
    text-align: center;
  }

  .failure {
    color: firebrick;
    font-size: 12px;
    text-align: center;
  }

  .register-cancel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
  }