label {
    width: max-content;
    color: darkcyan;
    font-size: 12px;
    border-bottom: 1px solid darkcyan;
    margin: 3px 0;
}

input, textarea {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
}

.submit-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

.button-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 0.5rem;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.guide-icon {
    position: absolute;
    cursor: pointer;
    padding: 5px;
}

.friend-list-panel {
    position: absolute;
    width: 400px;
    height: max-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1rem;
}

.friend-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.friend-cancel {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.friend-form {
    display: flex;
    flex-direction: column;
}

.friend-list {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: max-content;
}