label {
    width: max-content;
    color: darkcyan;
    font-size: 12px;
    border-bottom: 1px solid darkcyan;
    margin: 3px 0;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
}

.submit-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

.button-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 0.5rem;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.guide-button {
    position: absolute;
    cursor: pointer;
    padding: 5px;
    top: 8px;
    left: 270px;
}

.map-search-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 7px;
    left: 50px;
    z-index: 1;
    padding: 5px;
    background: white;
    border: 1px solid transparent; /* 테두리 설정 (투명으로 초기화) */
    border-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    width: 200px;
    height: max-content;
    font-size: 15px;
}

.react-geocoder input {
  background: transparent;
  font-size: 15px;
  outline: none;
  border: none;
}